*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: nAVY;
    color: white;
}
.timerBg{
    background-color: chocolate;
    border: solid chocolate 2px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.main{
    height: 100vh;

}


.div{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn{
    margin: 6px;
    border: white solid 2px;
width: 50px;
height: 50px;
  border-radius: 100%;  
  &:hover {
    background-color:  rgb(246, 168, 11);
    color: white;
}
}

.hi{
    align-items: center;
    text-align: center;
}

.rad{
    background-color: white;
    text-align: center;
width: 120px;
display: flex;

align-items: center;
 justify-content: center;
width: 80%;
height: 120px;
border-radius: 100%;
&:hover {
    background-color:  rgb(43, 80, 113);
    
    transition: ease .2s;
}

}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
h2{
    text-align: center;
    justify-content: center;
  
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.dltbtn{
display: flex;
}

.btndlt{
margin-left: 10px;
border: 1px solid white;
background-color: rgb(244, 171, 12);
color: white;
border-radius: 9px;
padding: 5px;
&:hover {
    background-color:  rgb(43, 80, 113);
    color: white;
    transition: ease .2s;
}
}
h3{
    color: black;
}
.helloInput{
    margin: 4px;
    height: 30px;
    width: 200px;
    border: 2px white solid;
    border-radius: 5px;
}

h1{
    font-size: 40px;
}

.timerHover{
    color: white;
    cursor: pointer;
    &:hover {
        
        color: rgb(244, 171, 12);
        transition: ease .2s;
    }
}